h1{
    color: white;
    background-color: blue;
    font-size: 32px;
}
#wrapper {
  display: flex;
  height: 100vh;
}
.trai{
    background-color:aqua;
}
.trai ul {
  list-style-type: none;
  padding-left: 0;
}

.trai li {
  margin-bottom: 8px;
  font-size: 16px;
}
.phai{
    background-color: white;
    flex-grow: 1;
    padding: 30px;

}
.phai h2{
    padding-left: 30px;
    font-size: 30px;
}
.phai h3{
    text-decoration: underline ;
}
